@import "tailwindcss";

@theme {
  --color-trueGray-50: #fafafa;
  --color-trueGray-100: #f5f5f5;
  --color-trueGray-200: #e5e5e5;
  --color-trueGray-300: #d4d4d4;
  --color-trueGray-400: #a3a3a3;
  --color-trueGray-500: #737373;
  --color-trueGray-600: #525252;
  --color-trueGray-700: #404040;
  --color-trueGray-800: #262626;
  --color-trueGray-900: #171717;
  --color-trueGray-950: #0a0a0a;
}

@variant dark (&:where(.dark, .dark *));

html,
body {
  margin: 0;
  min-height: 100vh;
}
